* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --padding: 0 115px;
}
/* header start  */
header {
  width: 100%;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar-logo {
  width: 30%;
  max-width: 405px !important;
  height: 147px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/AgileTech-logo-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.navbar-logo img {
  width: 201px;
  height: 51px;
}
.general-navbar {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navbar-top {
  width: 100%;
  height: 51px;
  display: flex;
  margin-top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 15px 16px 15px 0px;
  background: transparent !important;
}
.navbar-top-left ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
.navbar-top-left ul li {
  font-size: 13px;
  color: #010d14;
  margin-right: 15px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}
.navbar-top-right ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-top-right ul li {
  font-size: 14px;
  margin-right: 15px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}
.navbar-top-right ul li a {
  color: #010d14 !important;
}
.navbar-bottom {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 0 0;
}
.navbar-bottom-left ul {
  width: 100%;
  max-width: 736px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-bottom-left ul li a {
  padding-left: 3px !important;
  padding-right: 14px;
  margin-right: 12px;
  font-weight: 600;
  color: #101a29;
  line-height: 80px;
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.navbar-bottom-left ul li a:hover {
  color: #246bfd;
}
.navbar-bottom button {
  height: 55px;
  color: #fff;
  background-color: #246bfd;
  margin-left: 15px;
  font-size: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  line-height: 55px;
  padding: 0 30px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  z-index: 0;
  background-image: -webkit-linear-gradient(
    45deg,
    #101a29 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, #101a29 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: 1.5s ease-in-out;
}

.navbar-bottom button:hover {
  background-color: #fff !important;
  transition: all 2s ease;
  background-position: 0;
  z-index: -1;
}
.menu-icon {
  display: none;
}
.menu-icon i {
  cursor: pointer;
  color: #010d14;
  font-size: 30px;
}
/* header end  */

/* section 1 start  */
section.sec1 {
  width: 100%;
  height: 831px;
  padding: 210px 0 70px;
  background-image: url("./images/AgileTech-sec1-bg.jpg");
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 0;
}
.sec1 .container {
  width: 100%;
  height: auto;
  padding: var(--padding);
}
.sec1 h6 {
  margin-bottom: 1.5rem !important;
  color: #fff;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.24;
}
.sec1 h2 {
  width: 427px;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #fff;
  line-height: 1.24;
}
.sec1 p {
  width: 427px;
  margin-bottom: 32px;
  padding-right: 1.5rem !important;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: #737588;
  line-height: 1.7;
}
.sec1 button {
  height: 55px;
  color: #fff;
  background-color: #246bfd;
  font-size: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  line-height: 55px;
  padding: 0 30px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  z-index: 0;
  background-image: -webkit-linear-gradient(45deg, #fff 50%, transparent 50%);
  background-image: linear-gradient(45deg, #fff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: 1.5s ease-in-out;
}
.sec1 button:hover {
  background-color: #fff !important;
  transition: all 2s ease;
  background-position: 0;
  z-index: -1;
  color: #101a29 !important;
}
/* section 1 end  */
/* By Yusif Ramazanov */
/* section 3rd start */

/* section 3rd head partition start */
.section3 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.infoProtectData {
  width: 100%;
  height: 969px;
  padding: 100px 0 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/background_image.png);
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.sectionData_center {
  width: 100%;
  max-width: 451px;
  height: 134px;
  padding: 12px;
  font-size: 24px;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 50px;
}
.sectionDataMain {
  width: 100%;
  max-width: 1150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* section 3rd head partition end */

/* section 3rd main partition start */

/* section 3rd main 1st partition  start */
.protectDatasIn {
  width: 356px;
  height: 317px;
  padding: 0 12px 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.protectDatasInImg {
  width: 286px;
  height: 80px;
  text-align: right;
  margin-bottom: -38px;
  z-index: 1;
}
.aspects {
  width: 356px;
  height: 237px;
  padding: 35px;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(19, 16, 34, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
a {
  font-size: 22px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 200;
  text-decoration: none;
  color: black;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0.1s;
  transition-property: all;
  background-color: white;
}
a:hover {
  color: rgb(13 110 253);
}
.aspects p {
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 200;
  color: grey;
}
/* section 3rd main 1st partition  end */
/* section 3rd main partition  end */

/* section 3rd responsive for display start */
@media (max-width: 1200px) {
  .infoProtectData {
    width: 100%;
    max-width: 1188px;
    height: 1083px;
  }
  .sectionDataMain {
    width: 100%;
    max-width: 1188px;
    height: 949px;
    justify-content: center;
  }
  .protectDatasIn {
    width: 290px;
    height: 380px;
    margin: 20px;
  }
  .protectDatasInImg {
    width: 236px;
    height: 80px;
  }
  .sectionData_center {
    width: 100%;
    max-width: 615px;
    height: 134px;
    font-size: 24px;
  }
  .aspects {
    width: 290px;
    height: 237px;
  }
}
/* section 3rd responsive for display end */

/* section 3rd responsive for tablet start */
@media (max-width: 992px) {
  .infoProtectData {
    width: 100%;
    max-width: 992px;
    height: 1310px;
    background-size: contain;
  }
  .sectionDataMain {
    width: 100%;
    max-width: 990px;
    height: 1136px;
    justify-content: center;
  }
  .protectDatasInImg {
    width: 236px;
    height: 80px;
  }
  .protectDatasIn {
    width: 100%;
    width: 336px;
    height: 317px;
    margin: 20px;
  }
  .sectionData_center {
    width: 100%;
    max-width: 696px;
    height: 134px;
    font-size: 24px;
  }
}
/* section 3rd responsive for tablet end */

/* section 3rd responsive for phone start */
@media (max-width: 768px) {
  .infoProtectData {
    width: 100%;
    max-width: 768px;
    height: 1971px;
    background-size: contain;
  }
  .sectionDataMain {
    width: 100%;
    max-width: 768px;
    height: 1455px;
    justify-content: center;
  }
  .protectDatasInImg {
    width: 420px;
    height: 80px;
  }
  .protectDatasIn {
    width: 516px;
    height: 232px;
    margin: 20px;
  }
  .sectionData_center {
    width: 100%;
    max-width: 516px;
    height: 134px;
    font-size: 24px;
  }
  .aspects {
    width: 100%;
    max-width: 516px;
  }
}
/* section 3rd responsive for phone end */

/* section 3rd end */
